@media screen and (max-width:1280px) {
    .offcanvas {
        max-width: 75%;

        .offcanvas-body {
            position: relative;

            .nav {
                display: flex;
                flex-direction: column;
                gap: 22px;
                align-items: flex-start;
            }

            .canvas-close {
                position: absolute;
                top: 1rem;
                right: 1rem;
                border: 0;
            }
        }


    }
}

@media screen and (min-width:1281px) {
    .offcanvas {
        display: none;
    }
}